<%- include("header") -%>

<div class="box" id="heading">
  <!-- receive the data from the app.js file // date format // day, month, date // Tuesday, June 23  -->
  <h1><%= listTitle %></h1>
</div>

<!-- receive the works array, spread the items in array using forEach JS method -->
<div class="box">
  <% works.forEach(function(item){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkBox" value="<%=item._id%>" onChange="this.form.submit()">
      <p><%= item.name %></p>
    </div>
  </form>

  <% }) %>


  <form class="item" action="/" method="POST">
    <input type="text" name="work" placeholder="New Item" autocomplete="off" />
    <!-- value of button is the listTitle value // either "Day" or "Work" -->
    <button type="submit" name="list" value=<%= listTitle %>>+</button>
  </form>

</div>

<%- include("footer") -%>